.memberPhoto {
    position: relative;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    /* height: 100%; */
    object-fit: cover;
}

.imageContainer {
    /*     display: flex;
    align-items: stretch;
    justify-content: center; */
    height: 400px;
    width: 400px;
}
