.memberPhoto {
    position: relative;
    /* border-radius: 50%; */
    aspect-ratio: 1 / 1;
    /* height: 100%; */
    object-fit: cover;
    object-position: center;
    transition: 0.1s ease-in;
    border-radius: 24px;
}

.imageContainer {
    position: relative;
    /*     display: flex;
    align-items: stretch;
    justify-content: center; */
    width: 100%;
    height: 50vh;
}
@media (min-width: 700px) {
    .imageContainer {
        width: 40vw;
        height: 70vh;
    }
}
