.heading2 {
    font-size: 60px;
    overflow-wrap: break-word;
}

@media screen and (max-width: 1400px) {
    .heading2 {
        font-size: 40px;
    }
}

@media screen and (max-width: 600px) {
    .heading2 {
        font-size: 30px;
    }
}
