.heading3 {
    font-size: 30px;
    overflow-wrap: break-word;
    color: var(--red);
}

@media screen and (max-width: 1400px) {
    .heading3 {
        font-size: 25px;
    }
}

@media screen and (max-width: 600px) {
    .heading3 {
        font-size: 20px;
    }
}
