.heading1 {
    font-size: 96px;
    overflow-wrap: break-word;
}

@media screen and (max-width: 1400px) {
    .heading1 {
        font-size: 64px;
    }
}

@media screen and (max-width: 600px) {
    .heading1 {
        font-size: 30px;
    }
}
