.button {
    all: unset;
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: 500;
    transition: 0.2s ease-out;
    text-align: center;
    border-width: 3px;
    border-style: solid;
    font-size: 18px;
}

@media screen and (max-width: 1400px) {
    .button {
        font-size: 18px;
    }
}

@media screen and (max-width: 600px) {
    .button {
        font-size: 16px;
    }
}

.primary {
    background-color: var(--blue);
    color: var(--white);
    border-color: var(--blue);
    filter: drop-shadow(10px 0px 20px var(--blue-shadow));
}

.secondary {
    filter: drop-shadow(10px 0px 20px var(--blue-shadow));
    border-color: var(--blue);
}

.secondary.light {
    color: var(--black);
}

.terciary {
    text-decoration: underline;
    border-color: transparent;
    filter: drop-shadow(10px 0px 20px var(--cream-shadow));
}

.terciary.dark {
    color: var(--cream);
}

.terciary.light {
    color: var(--black);
}

.button:hover,
.button:active,
.button:focus {
    color: var(--black);
    scale: 1.1;
}

.dark:hover,
.dark:active,
.dark:focus {
    background-color: var(--cream);
    border-color: var(--cream);
    filter: drop-shadow(10px 0px 20px var(--cream-shadow));
}
.light:hover,
.light:active,
.light:focus {
    background-color: var(--black);
    border-color: var(--black);
    filter: drop-shadow(10px 0px 20px var(--cream-shadow));
    color: var(--cream);
}
